*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

/*header*/

header{
background-color: rgb(0, 132, 255);
padding: 1.5rem;
}
nav{
    color: white;
    justify-content: space-between;
    margin: 0 auto;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.desktop-menu{
    display: none;
   
}

/*responsive header desktop*/

@media  screen and (min-width:1160px){
    .desktop-menu{
        display: flex;
        align-items: center;
    }
   .menu-box{
    display: none;
   }
   .menu{
    list-style-type:none;
    gap: 1.5rem;
   }
   .container{
    width: 65%;
   }
}
/*sezione 1 main*/
.col{
    
    color: blue;
    background-color:lightblue ;
    border-radius: 5%;
    padding:0 2rem ;
    padding-top: 2rem;
}

.small-col{
    text-align: center;
    padding: 2rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

img{
    max-width: 100%;
}

/*responsive sez1 main tablet*/

@media screen and (min-width:768px){
    .demo-section{
        display: flex;
        flex-wrap: wrap;
    }
    
    .big-col{
        width: calc((100%/ 3)*2);
    }

    .small-col{
        width: calc(100%/ 3);
    }
}