*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

/*header*/

header{
background-color: rgb(0, 132, 255);
padding: 1.5rem;
}
nav{
    color: white;
    justify-content: space-between;
    margin: 0 auto;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.desktop-menu{
    display: none;
   
}

/*responsive header desktop*/

@media  screen and (min-width:1160px){
    .desktop-menu{
        display: flex;
        align-items: center;
    }
   .menu-box{
    display: none;
   }
   .menu{
    list-style-type:none;
    gap: 1.5rem;
   }
   
}
/*sezione 1 main*/
.col{
    border-radius: 2rem;
    padding:2rem ;
    margin: 1.5rem 0;
}

.small-col{
    text-align: center;
    padding: 2rem;
    color: blue;
    background-color:lightblue ;
}

.big-col{
    color: blue;
    background-color:lightblue ;
    padding-bottom: 0;
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

p{
    line-height: 2rem;
    margin-bottom: 1.5rem;
}


    .col-img{
        display: flex;
        align-items: flex-end;
    }


img{
    width: 100%;
}

.button{
    width: 85%;
    color: white;
    background-color: blue;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    margin: 2rem 0;
}

/*responsive sez1 main tablet*/

@media screen and (min-width:768px){
    .demo-section{
        display: flex;
        flex-wrap: wrap;

    }

    .col-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .col{
        margin-bottom: 1.5rem;

    }

    .big-col{
       width: calc((90%/3)*2);
       padding-bottom: 0;
        
    }

    .col-flex{
       width: calc(90%/3);
    }

.col-img{width: 70%;}
}

/*responsive sez1 main desktop*/
@media  screen and (min-width:1160px){
    div .big-col{
        display: flex;
    }

    .big-col div{
        width: 50%;
    }
    
}
/*planning*/
.planning{
    background-color:#715bd5e4;
    color: white;
}

.app{
    background-color: white;
    color: black;
}

/*resp planning desktop*/
@media  screen and (min-width:1160px){
   .planning .container{
        display: flex;
        align-items: flex-end;
        width: 70%;
       padding: 3rem;
    }
    .plan{
        padding: 0;
        width: 60%;
        font-size: 70%;
    }
    .app{
        width: 40%;
        font-size: 70%;
    }
    /*.planning img{
        width: 30%;
    }*/
}

.testimonials{
    text-align: center;
}

.testimonials .col{
    background-color:#715bd5e4;
    color: white;
}

.tes-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*Responsive testimonials tablet/desktop*/
@media screen and (min-width:768px){
    .testimonials .col{
        display: flex;
    }
    
    .tes-img{
        margin: 0;
    }
}

/*Benefits session*/
.benefits{
    background-color: #715bd5e4;
}

.benefits .col{
    color: #715bd5e4;
    background-color: white;
}

